.resources__logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 275px;
  height: 38px;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.resources__logo:hover {
  opacity: 0.6;
}
