/*   Обеспечение кроссбраузерности   */
@import url(./normalize.css);


/*   Стили блоков и секций   */

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/header/logo/_place/logo_place_header.css);

@import url(../blocks/header/title/title.css);

@import url(../blocks/header/subtitle/subtitle.css);

@import url(../blocks/header/link/link.css);

@import url(../blocks/header/link/hover/hover.css);

@import url(../blocks/header/main-illustration/main-illustration.css);

@import url(../blocks/rotation/rotation.css);

@import url(../blocks/header/square-pic/square-pic.css);

@import url(../blocks/description/description.css);

@import url(../blocks/description/two-columns/two-columns.css);

@import url(../blocks/description/two-columns/brief/brief.css);

@import url(../blocks/description/two-columns/main-text/main-text.css);

@import url(../blocks/description/two-columns/paragraph/paragraph.css);

@import url(../blocks/description/two-columns/paragraph/span/paragraph_span.css);

@import url(../blocks/description/two-columns/span-accent/span-accent.css);

@import url(../blocks/techniques/tecnhiques.css);

@import url(../blocks/techniques/content/tecnhiques_content.css);

@import url(../blocks/techniques/section-title/section-title.css);

@import url(../blocks/techniques/section-subtitle/section-subtitle.css);

@import url(../blocks/techniques/cards/cards.css);

@import url(../blocks/techniques/cards/card__item/card__item.css);

@import url(../blocks/techniques/cards/card__image_box/card__image_box.css);

@import url(../blocks/techniques/cards/card__image_box/card__image/card__image.css);

@import url(../blocks/techniques/cards/card__title/title.css);

@import url(../blocks/techniques/cards/card__title/title__text/title_text.css);

@import url(../blocks/techniques/cards/card__description/description.css);

@import url(../blocks/techniques/cards/card__item/card__item_recall/card__item_recall.css);

@import url(../blocks/techniques/cards/card__item/card__item_competence/card__item_competence.css);

@import url(../blocks/video/video.css);

@import url(../blocks/video/iframes/iframes.css);

@import url(../blocks/video/iframes/iframe_1/iframe_1.css);

@import url(../blocks/oakley/oakley.css);

@import url(../blocks/digits/digits.css);

@import url(../blocks/digits/section-title/section-title_text/section-title_text.css);

@import url(../blocks/digits/section-subtitle/section-subtitle_text/section-subtitle_text.css);

@import url(../blocks/digits/table/table.css);

@import url(../blocks/digits/table/cell/cell.css);

@import url(../blocks/digits/table/cell/cell__heading/cell__heading.css);

@import url(../blocks/digits/table/cell/cell__text/cell__text.css);

@import url(../blocks/khan/khan.css);

@import url(../blocks/khan/container/container.css);

@import url(../blocks/khan/author/author.css);

@import url(../blocks/khan/quote/quote.css);

@import url(../blocks/khan/title/title.css);

@import url(../blocks/khan/quote-author/quote-author.css);

@import url(../blocks/khan/quote-author-subline/quote-author-subline.css);

@import url(../blocks/khan/book-container/book-container.css);

@import url(../blocks/khan/book-container/book-pic/book-pic.css);

@import url(../blocks/khan/book-container/buy-link/buy-link.css);

@import url(../blocks/feynman/feynman.css);

@import url(../blocks/feynman/title/feynman__title.css);

@import url(../blocks/feynman/subtitle/feynman__subtitle.css);

@import url(../blocks/feynman/link/link.css);

@import url(../blocks/feynman/img/img.css);

@import url(../blocks/kaufman/kaufman.css);

@import url(../blocks/kaufman/section-title_text/theme/theme_dark.css);

@import url(../blocks/kaufman/section-subtitle_text/theme/theme_dark.css);

@import url(../blocks/kaufman/table/cell/_theme/cell_theme_dark.css);

@import url(../blocks/kaufman/table/heading/_theme/heading_theme_dark.css);

@import url(../blocks/kaufman/table/text/_theme/text_theme_dark.css);

@import url(../blocks/kaufman/triangle/triangle.css);

@import url(../blocks/rotation/rotation.css);

@import url(../blocks/resources/resources.css);

@import url(../blocks/resources/content/content.css);

@import url(../blocks/resources/logo-zone/logo-zone.css);

@import url(../blocks/resources/logo-zone/logo/logo.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/footer/logo/logo.css);

@import url(../blocks/footer/logo/_place/logo_place_footer.css);

@import url(../blocks/footer/author/author.css);

@import url(../blocks/footer/columns/columns.css);

@import url(../blocks/footer/columns/column/column.css);

@import url(../blocks/footer/columns/column/_content/column_content_copyright.css);

@import url(../blocks/footer/column-links/column-links.css);

@import url(../blocks/footer/column-links/column-link/column-link.css);

@import url(../blocks/footer/column-links/column-link/hover/hover.css);

@import url(../blocks/footer/column-heading/column_heading.css);

@import url(../blocks/footer/social-icon/social-icon.css);

/*    Подключение и настройка шрифтов   */
@font-face{
    src: 
    url(../fonts/Inter-Regular.woff2) format('woff2'),
    url(../fonts/Inter-Regular.woff) format('woff');
    font-family: 'Inter Regular';
    font-weight: normal;
  }
  
  @font-face{
    src: 
    url(../fonts/Inter-SemiBold.woff2) format('woff2'),
    url(../fonts/Inter-SemiBold.woff) format('woff');
    font-family: 'Inter Regular';
    font-weight: bolder;
  }
  
  @font-face{
    src: 
    url(../fonts/Inter-Bold.woff2) format('woff2'),
    url(../fonts/Inter-Bold.woff) format('woff');
    font-family: 'Inter Regular';
    font-weight: bold;
  }
  
  .normal{
    font-weight: normal;
  }
  
  .semibold{
    font-weight:bolder;
  }
  
  .bold{
    font-weight:bold;
  }
  
  /*    Настройки для всего контента   */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }